.my-pic img {
  width: 100%;
  min-width: 170px;
  //margin-top: 20px;
  border-radius: 2%;
}

.contact {
  height: 20px;
  margin:5px;
}

a:hover {
  text-decoration: underline;
}

.fancy-rule {
  margin-top: 0;
  margin-bottom: 10px;
  height: 25px;
  width: 100%;
  border-style: solid;
  border-color: #d19b3d;
  border-width: 0 0 1px 0;
  border-radius: 35px;
}
.fancy-rule-end {
  margin-top: 10px;
  margin-bottom: 0;
  height: 25px;
  width: 100%;
  border-style: solid;
  border-color: #d19b3d;
  border-width: 1px 0 0 0;
  border-radius: 35px;
}

.heading {
  background-color: #23282e;
  padding: 5px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin: 0;
}

h1 {
  color: #d19b3d;
  padding-top: 10px;
}
h2 {
  margin-bottom: 20px;
}


.bio-container {
  background-color: #2e353d;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-right: 20px;
  padding-left: 20px;
}

p {
  margin-bottom: 5px;
}

@mixin faded($offset, $blur-radius, $spread-radius)
{
  &.faded-left:after {
    box-shadow: inset $offset 0 $blur-radius (-$spread-radius);
  }

  &.faded-right:after {
    box-shadow: inset (-$offset) 0 $blur-radius (-$spread-radius);
  }

  &.faded-top:after {
    box-shadow: inset 0 $offset $blur-radius (-$spread-radius);
  }

  &.faded-bottom:after {
    box-shadow: inset 0 (-$offset) $blur-radius (-$spread-radius);
  }

  &.faded-left.faded-right:after {
    box-shadow: inset $offset 0 $blur-radius (-$spread-radius), inset (-$offset) 0 $blur-radius (-$spread-radius);
  }

  &.faded-left.faded-top:after {
    box-shadow: inset $offset ($offset) $blur-radius (-$spread-radius);
  }

  &.faded-right.faded-bottom:after {
    box-shadow: inset (-$offset) (-$offset) $blur-radius (-$spread-radius);
  }

  &.faded-top.faded-right:after {
    box-shadow: inset (-$offset) $offset $blur-radius (-$spread-radius);
  }

  &.faded-top.faded-bottom:after {
    box-shadow: inset 0 $offset $blur-radius (-$spread-radius), inset 0 (-$offset) $blur-radius (-$spread-radius);
  }

  &.faded-left.faded-bottom:after {
    box-shadow: inset $offset (-$offset) $blur-radius (-$spread-radius);
  }

  &.faded-top.faded-right.faded-bottom:after {
    box-shadow: inset (-$offset/2) 0 $blur-radius $spread-radius;
  }

  &.faded-left.faded-right.faded-bottom:after {
    box-shadow: inset 0 (-$offset/2) $blur-radius $spread-radius;
  }

  &.faded-left.faded-top.faded-bottom:after {
    box-shadow: inset ($offset/2) 0 $blur-radius $spread-radius;
  }

  &.faded-left.faded-top.faded-right:after {
    box-shadow: inset 0 ($offset/2) $blur-radius $spread-radius;
  }

  &.faded-all:after, &.faded-left.faded-top.faded-right.faded-bottom:after {
    box-shadow: inset 0 0 $blur-radius $spread-radius;
  }
}




$faded-offset: 40px !default;
$faded-blur-radius: 40px !default;
$faded-spread-radius: 16px !default;

$faded-narrow-offset: 20px !default;
$faded-narrow-blur-radius: 20px !default;
$faded-narrow-spread-radius: 10px !default;

$faded-wide-offset: 80px !default;
$faded-wide-blur-radius: 80px !default;
$faded-wide-spread-radius: 28px !default;

.faded {
  position: relative;
  display: inline-block;
  color: white;

  &:after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-collapse: separate;
  }

  @include faded($faded-offset, $faded-blur-radius, $faded-spread-radius);

  &.faded-narrow {
    @include faded($faded-narrow-offset, $faded-narrow-blur-radius, $faded-narrow-spread-radius);
  }

  &.faded-wide {
    @include faded($faded-wide-offset, $faded-wide-blur-radius, $faded-wide-spread-radius);
  }
}

// Colored panel
.panel {
  background-color: #23282e;
  padding: 1em;
  color: #23282e;
  margin-left:10px;
  margin-right: 5%;
  border-radius: 10px;
  //left: 5%;

  .faded {
    // Use a text color the same as the background colour of the panel will mean the fade effect matches the backround correctly
    color: #23282e;
  }
}

// Scale images down if they're too large for available space
img {
  max-width: 100%;
}