.my-pic img {
  width: 100%;
  min-width: 170px;
  border-radius: 2%; }

.contact {
  height: 20px;
  margin: 5px; }

a:hover {
  text-decoration: underline; }

.fancy-rule {
  height: 10px;
  width: 100%;
  border-style: solid;
  border-color: #d19b3d;
  border-width: 2px 0 0 0;
  border-radius: 8px;
  margin-top: 0px;
  margin-bottom: 0px; }

.fancy-rule:before {
  display: block;
  content: "";
  height: 10px;
  border-style: solid;
  border-color: #d19b3d;
  border-width: 0 0 2px 0;
  border-radius: 8px; }

.heading {
  background-color: #23282e;
  padding: 5px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin: 0; }

h1 {
  color: #d19b3d;
  padding-top: 10px; }

h2 {
  margin-bottom: 20px; }

.bio-container {
  background-color: #2e353d;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px; }

p {
  padding: 0;
  margin: 0; }

.faded {
  position: relative;
  display: inline-block;
  color: white; }
  .faded:after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-collapse: separate; }
  .faded.faded-left:after {
    box-shadow: inset 40px 0 40px -16px; }
  .faded.faded-right:after {
    box-shadow: inset -40px 0 40px -16px; }
  .faded.faded-top:after {
    box-shadow: inset 0 40px 40px -16px; }
  .faded.faded-bottom:after {
    box-shadow: inset 0 -40px 40px -16px; }
  .faded.faded-left.faded-right:after {
    box-shadow: inset 40px 0 40px -16px, inset -40px 0 40px -16px; }
  .faded.faded-left.faded-top:after {
    box-shadow: inset 40px 40px 40px -16px; }
  .faded.faded-right.faded-bottom:after {
    box-shadow: inset -40px -40px 40px -16px; }
  .faded.faded-top.faded-right:after {
    box-shadow: inset -40px 40px 40px -16px; }
  .faded.faded-top.faded-bottom:after {
    box-shadow: inset 0 40px 40px -16px, inset 0 -40px 40px -16px; }
  .faded.faded-left.faded-bottom:after {
    box-shadow: inset 40px -40px 40px -16px; }
  .faded.faded-top.faded-right.faded-bottom:after {
    box-shadow: inset -20px 0 40px 16px; }
  .faded.faded-left.faded-right.faded-bottom:after {
    box-shadow: inset 0 -20px 40px 16px; }
  .faded.faded-left.faded-top.faded-bottom:after {
    box-shadow: inset 20px 0 40px 16px; }
  .faded.faded-left.faded-top.faded-right:after {
    box-shadow: inset 0 20px 40px 16px; }
  .faded.faded-all:after, .faded.faded-left.faded-top.faded-right.faded-bottom:after {
    box-shadow: inset 0 0 40px 16px; }
  .faded.faded-narrow.faded-left:after {
    box-shadow: inset 20px 0 20px -10px; }
  .faded.faded-narrow.faded-right:after {
    box-shadow: inset -20px 0 20px -10px; }
  .faded.faded-narrow.faded-top:after {
    box-shadow: inset 0 20px 20px -10px; }
  .faded.faded-narrow.faded-bottom:after {
    box-shadow: inset 0 -20px 20px -10px; }
  .faded.faded-narrow.faded-left.faded-right:after {
    box-shadow: inset 20px 0 20px -10px, inset -20px 0 20px -10px; }
  .faded.faded-narrow.faded-left.faded-top:after {
    box-shadow: inset 20px 20px 20px -10px; }
  .faded.faded-narrow.faded-right.faded-bottom:after {
    box-shadow: inset -20px -20px 20px -10px; }
  .faded.faded-narrow.faded-top.faded-right:after {
    box-shadow: inset -20px 20px 20px -10px; }
  .faded.faded-narrow.faded-top.faded-bottom:after {
    box-shadow: inset 0 20px 20px -10px, inset 0 -20px 20px -10px; }
  .faded.faded-narrow.faded-left.faded-bottom:after {
    box-shadow: inset 20px -20px 20px -10px; }
  .faded.faded-narrow.faded-top.faded-right.faded-bottom:after {
    box-shadow: inset -10px 0 20px 10px; }
  .faded.faded-narrow.faded-left.faded-right.faded-bottom:after {
    box-shadow: inset 0 -10px 20px 10px; }
  .faded.faded-narrow.faded-left.faded-top.faded-bottom:after {
    box-shadow: inset 10px 0 20px 10px; }
  .faded.faded-narrow.faded-left.faded-top.faded-right:after {
    box-shadow: inset 0 10px 20px 10px; }
  .faded.faded-narrow.faded-all:after, .faded.faded-narrow.faded-left.faded-top.faded-right.faded-bottom:after {
    box-shadow: inset 0 0 20px 10px; }
  .faded.faded-wide.faded-left:after {
    box-shadow: inset 80px 0 80px -28px; }
  .faded.faded-wide.faded-right:after {
    box-shadow: inset -80px 0 80px -28px; }
  .faded.faded-wide.faded-top:after {
    box-shadow: inset 0 80px 80px -28px; }
  .faded.faded-wide.faded-bottom:after {
    box-shadow: inset 0 -80px 80px -28px; }
  .faded.faded-wide.faded-left.faded-right:after {
    box-shadow: inset 80px 0 80px -28px, inset -80px 0 80px -28px; }
  .faded.faded-wide.faded-left.faded-top:after {
    box-shadow: inset 80px 80px 80px -28px; }
  .faded.faded-wide.faded-right.faded-bottom:after {
    box-shadow: inset -80px -80px 80px -28px; }
  .faded.faded-wide.faded-top.faded-right:after {
    box-shadow: inset -80px 80px 80px -28px; }
  .faded.faded-wide.faded-top.faded-bottom:after {
    box-shadow: inset 0 80px 80px -28px, inset 0 -80px 80px -28px; }
  .faded.faded-wide.faded-left.faded-bottom:after {
    box-shadow: inset 80px -80px 80px -28px; }
  .faded.faded-wide.faded-top.faded-right.faded-bottom:after {
    box-shadow: inset -40px 0 80px 28px; }
  .faded.faded-wide.faded-left.faded-right.faded-bottom:after {
    box-shadow: inset 0 -40px 80px 28px; }
  .faded.faded-wide.faded-left.faded-top.faded-bottom:after {
    box-shadow: inset 40px 0 80px 28px; }
  .faded.faded-wide.faded-left.faded-top.faded-right:after {
    box-shadow: inset 0 40px 80px 28px; }
  .faded.faded-wide.faded-all:after, .faded.faded-wide.faded-left.faded-top.faded-right.faded-bottom:after {
    box-shadow: inset 0 0 80px 28px; }

.panel {
  background-color: #23282e;
  padding: 1em;
  color: #23282e;
  margin-left: 10px;
  margin-right: 5%;
  border-radius: 10px; }
  .panel .faded {
    color: #23282e; }

img {
  max-width: 100%; }

/*# sourceMappingURL=about.component.css.map */
