<div class="drop-shade">
  <div class="heading">
    <div class="row align-items-center">
      <div class="col col-sm-4 panel">
        <div class="my-pic faded faded-narrow faded-left faded-right">
          <img src="../assets/me-orange.jpg">
        </div>
      </div>
      <div class="col">
        <div class="contact text-center" >
          <h1>
            Kevin Oglesby
          </h1>
          <h4>Full-Stack Web Developer</h4>
          <a href="mailto:kevinjoglesby@gmail.com">
            <i class="fa fa-envelope" aria-hidden="true"
               style="height: 20px; margin:5px"></i>kevinjoglesby@gmail.com</a>
          <br/>
          <a href="https://www.linkedin.com/in/kevin-oglesby-8048aa68/">
            <img src="../../assets/linkedin.svg" style="height: 20px; margin:5px">Linkedin Profile</a>
          <br/>
          <a href="https://www.github.com/koglesby">
            <img src="../../assets/github-icon-light.svg">GitHub Profile</a>
        </div>
      </div>
    </div>
  </div>

  <div class="bio-container text-center">
    <hr class="col-11 fancy-rule"/>
    <!--<p>-->
      <!--Welcome to my portfolio!-->
    <!--</p>-->
    <p>
      Hello! My name is Kevin and I am a Web Developer from Davis, California.
      </p>
    <p>
      I earned my Bachelor of Arts in Film Studies from UC Davis in 2013. After graduating,
      I worked a few odd jobs, but continued to learn new skills in creative applications
      on my own time.
      </p>
    <p>
      In late 2016, I wrote my first lines of Ruby code, and became fascinated by the process
      of using logic and programming language to build fully functional applications. I decided to
      dedicate my time to starting a career as a Developer, and enrolled in the
      <a href="https://www.thefirehoseproject.com">Firehose Project</a> coding camp.
    </p>
    <p>
      Throughout the course of the camp, I built my first web applications with
      Ruby on Rails, learned computer science fundamentals, and collaborated with
      other students to build our capstone project.
      Since completing the camp, I have continued to widen my coding knowledge-base
      and improve my skills and practices, to be best equipped solve problems, write
      clean effective code, and build awesome applications.
    </p>
    <hr class="col-11 fancy-rule-end"/>
  </div>
</div>


