<div class="drop-shade">
  <div class="heading">
    <div class="row align-items-center">
      <div class="col col-sm-4 panel">
        <div class="my-pic faded faded-narrow faded-left faded-right">
          <img src="../assets/me-orange.jpg">
        </div>
      </div>
      <div class="col">
        <div class="contact text-center">
          <h1>
            Kevin Oglesby
          </h1>
          <h4>Full-Stack Web Developer</h4>
          <a href="mailto:kevinjoglesby@gmail.com">
            <i class="fa fa-envelope" aria-hidden="true" style="height: 20px; margin:5px"></i>kevinjoglesby@gmail.com</a>
          <br />
          <a href="https://www.linkedin.com/in/kevin-oglesby/">
            <img src="../../assets/linkedin.svg" style="height: 20px; margin:5px">Linkedin Profile</a>
          <br />
          <a href="https://www.github.com/koglesby">
            <img src="../../assets/github-icon-light.svg">GitHub Profile</a>
        </div>
      </div>
    </div>
  </div>

  <div class="bio-container text-center">
    <hr class="col-11 fancy-rule" />
    <!--<p>-->
    <!--Welcome to my portfolio!-->
    <!--</p>-->
    <p>
      Hello! Welcome to my portfolio site.
    </p>
    <p>
      I'm Full Stack Web Developer with a year of proffessional experience building, testing, 
      and maintaining web applications for clients. 
      I like learning new tools and tech, and simply making code work the best way I can, 
      whether that involves changing a layout, building components, testing, writing Backend logic, or anything else that enhances, fixes or improves the application and development process.
    </p>
    <p>
      I wrote my first lines of code a couple years after graduating from UC Davis with my B.A. in Film Studies.
By that time I had learned to use several of Adobe's design and video applications (Photoshop, Illustrator, Premiere, After Effects), but I wanted to learn to create somthing more functional.
    </p>
    <p>
      So, I enrolled in a coding bootcamp and started building Full Stack applications with Ruby on Rails.
      I studied computer science fundamentals, data structures, and worked on an Agile team of five student developers to build a functional chess game application.
I also got an introduction to JavaScript, and after completing the bootcamp, I became interested in all the ways modern JavaScript could be used. Through additional courses, I learned a number of development practices and built applications using NodeJS, Angular, React and more.

    </p>
    <p>
      I built this site to showcase some of these projects, and to highlight some of the skills I have aquired and tools I have become familiar with throughout my time as a Web Developer.
    </p>
    <hr class="col-11 fancy-rule-end" />
  </div>
</div>