<div class="heading">
  <div class="row align-items-center">
    <div class="col col-sm-4 panel">
      <div class="my-pic faded faded-narrow faded-left faded-right">
        <img src="../assets/me-orange.jpg">
      </div>
    </div>
    <div class="col">
      <div class="text-center">
        <h1>
          Kevin Oglesby
        </h1>
        <h2>Web Developer</h2>
        <a href="mailto:kevinjoglesby@gmail.com">
          <i class="fa fa-envelope contact" aria-hidden="true" style="height: 20px; margin:5px"></i>kevinjoglesby@gmail.com</a>
        <br/>
        <a href="https://www.linkedin.com/in/kevin-oglesby-8048aa68/">
          <img class="contact" src="../../assets/linkedin.svg" style="height: 20px; margin:5px">Linkedin Profile</a>
        <br/>
        <a href="https://www.github.com/koglesby">
          <img class="contact" src="../../assets/github-icon-light.svg">Github Profile</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="bio-container text-center">
      <br/>
      <hr class="col-10 fancy-rule"/>
      <p>
        Welcome to my portfolio!
      </p>
      <p>
        I am a Web Developer from Davis, California.
        -I have long been interested in logic and and finding creative solutions to practical problems. -
        I earned my BA in Film Studies at UC Davis in 2013. -I had interest in media,
        and learned critical thinking skills-
        After graduating, I worked on my skills with creative applications, while
      </p>
      <hr class="col-4 fancy-rule"/>
      <br/>
    </div>

  </div>
</div>

