
  <!--<div class="container">-->
    <!--<div class="arrow left">-->
      <!--<img src="https://upload.wikimedia.org/wikipedia/commons/4/47/Chevron_right.svg">-->
    <!--</div>-->
    <div class="projects">
      <router-outlet></router-outlet>
    </div>
    <!--<div class="arrow right">-->
      <!--<img src="https://upload.wikimedia.org/wikipedia/commons/4/47/Chevron_right.svg">-->
    <!--</div>-->
  <!--</div>-->



<!--<div class="col-6">-->
  <!--<button class="btn btn-primary" (click)="onChangeProject('back')">Previous</button>-->
  <!--<button class="btn btn-primary" (click)="onChangeProject('forward')">Next</button>-->
<!--</div>-->


