.projects {
  /*max-width: 800px;*/
  background: grey;
  /*padding: 5px;*/
  display: block;
  min-width: 200px;
  border-radius: 8px;
  margin: 0;
  /*margin:5px;*/
}

/*.container {*/
  /*position: relative;*/
/*}*/

/*.container .arrow {*/
  /*position: absolute;*/
  /*top: 47%;*/
/*}*/

/*.container .arrow.left { left: -10px; }*/

/*.container .arrow.right { right: -10px; }*/