 <div class="row">
    <div class="col-12">
      <div class="text-center">
        <h1>
          Skills and Tools
        </h1>
        <h6>I have experience in all of the following:</h6>
      </div>
    </div>
    <hr/>
 </div>

<div class="row">
    <h3>Frameworks</h3>
  <div class="row align-items-center">


    <div class="col iconos">
      <a href="https://www.google.com">
        <img src="../../assets/angular-icon.svg">
      </a>
    </div>
    <div class="col iconos">
      <a href="https://www.google.com">
        <img src="../../assets/ionic-icon.png">
      </a>
    </div>
    <div class="col iconos">
      <a href="https://www.google.com">
        <img src="../../assets/rials-icon.png">
      </a>
    </div>
  </div>
</div>

  <br/>
    <div class="row align-items-center">
      <div class="col text-center">
        <h3>Languages</h3>
      </div>

      <div class="col iconos">
        <a href="https://www.google.com">
          <img src="../../assets/html-css-icon.svg">
          <div>
            HTML / CSS
          </div>
        </a>
      </div>
      <div class="col iconos">
        <a href="https://www.google.com">
          <img src="../../assets/javascript-icon.png">
          <div>
            vanilla javascript
          </div>
        </a>
      </div>
      <div class="col iconos">
        <a href="https://www.google.com">
          <img src="../../assets/typescript-icon.png">
          <div>
            typescript
          </div>
        </a>
      </div>
      <div class="col iconos">
        <a href="https://www.google.com">
          <img src="../../assets/ruby-icon.png">
          <div>
            Ruby
          </div>
        </a>
      </div>
    </div>

