<h1 class="text-center drop-shade">
  Skills & Tools
</h1>

<div class="section-container text-center drop-shade">

  <h3>Languages and Frameworks</h3>

  <div class="icon-container frameworks">
    <div class="row align-items-start">

      <div class="col">
        <img src="../../assets/html-css-icon-white.svg" style="margin-bottom: 35px;">
        <div>
          HTML / CSS
        </div>
      </div>
      <div class="col">
        <img src="../../assets/javascript-icon.png">
        <div>
          Javascript
        </div>
      </div>
      <div class="col">
        <img src="../../assets/typescript-icon.png">
        <div>
          Typescript
        </div>
      </div>
    </div>
    <br/>
    <div class="row align-items-start">
      <div class="col">
        <img src="../../assets/ruby-on-rails.svg">
        <div>
          Ruby on Rails
        </div>
      </div>
      <div class="col">
        <img src="../../assets/angular-icon-sm.svg">
        <div>
          Angular
        </div>
      </div>
      <div class="col">
        <img src="../../assets/ionic-icon-sm.svg" style="min-width: 80px; margin-bottom: 16px;" >
        <div>
          Ionic
        </div>
      </div>
    </div>
  </div>

</div>
<!--<br/>-->

<div class="section-container text-center drop-shade">

  <h3>Collaborative Tools</h3>

  <div class="icon-container">
    <div class="row align-items-center">
      <div class="col">
        <img src="../../assets/github-full-icon.png">
      </div>
      <div class="col">
        <img src="../../assets/trello-icon.svg">
      </div>
      <div class="col">
        <img src="../../assets/slack-icon.svg">
      </div>
    </div>
  </div>
  </div>

<!--<br/>-->

<div class="section-container text-center drop-shade">

  <h3>Design Tools</h3>

  <div class="icon-container">
    <div class="row align-items-start design">
      <div class="col-sm-3 col-6"  style="margin-bottom: 8px;">
        <img src="../../assets/photoshop-icon.svg">
        <div>
          Photoshop
        </div>
      </div>
      <div class="col-sm-3 col-6" >
        <img src="../../assets/adobe-illustrator-icon.svg">
        <div>
          Adobe Illustrator
        </div>
      </div>

      <div class="col-sm-3 col-6" style="margin-bottom: 5px;">
        <img src="../../assets/after-effects-icon.svg">
        <div>
          After Effects
        </div>
      </div>
      <div class="col-sm-3 col-6">
        <img src="../../assets/premiere-pro-icon.svg">
        <div>
          Premiere Pro
        </div>
      </div>
    </div>
  </div>

</div>

<!--<br/>-->
  <div class="section-container text-center drop-shade">
  <h3>More Tools</h3>
  <div class="icon-container">
    <div class="row align-items-center">
      <div class="col">
        <img src="../../assets/jQuery-icon.svg">
      </div>
      <div class="col">
        <img src="../../assets/npm-icon.png">
      </div>

      <div class="col">
         <img src="../../assets/aws-icon.svg">
      </div>

      <div class="col">
        <img src="../../assets/firebase-icon.svg">
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col">
        <img src="../../assets/heroku.png">
      </div>
      <div class="col">
        <img src="../../assets/rubocop-icon.png">
      </div>
      <div class="col">
        <img src="../../assets/codeship-icon.png">
      </div>
    </div>
  </div>
</div>

