<div class="section-container text-center drop-shade">
  <h1 class="text-center">
    Skills & Tools
  </h1>
    These are some of my most used programming languages, frameworks, libraries, environments, and other tech and practices.
</div>


<div class="section-container text-center drop-shade">
  <h3>Front End</h3>
  <div class="icon-container frameworks">
    <div class="flex-container">
      <div class="flex-item">
        JavaScript
      </div>
      <div class="flex-item">
        HTML
      </div>
      <div class="flex-item">
        CSS & Sass
      </div>
      <div class="flex-item">
        React & Redux
      </div>  
      <div class="flex-item">
        Angular
      </div>
      <div class="flex-item">
        jQuery
      </div>
      <div class="flex-item">
        Bootstrap
      </div>
      <div class="flex-item">
        Responsive Design
      </div>
      <div class="flex-item">
        Adobe Photoshop
      </div>
      <div class="flex-item">
        Adobe Illustrator
      </div>
    </div>
  </div>
</div>
<div class="section-container text-center drop-shade">
  <h3>Back End</h3>
  <div class="icon-container frameworks">
    <div class="flex-container">
      <div class="flex-item">
        NodeJS
      </div>
      <div class="flex-item">
        ExpressJS
      </div>
      <div class="flex-item">
        MongoDB
      </div>
      <div class="flex-item">
        Rails
      </div>  
      <div class="flex-item">
        PostgreSQL
      </div>
    </div>
  </div>

</div>
<div class="section-container text-center drop-shade">
  <h3>More</h3>
  <div class="icon-container frameworks">
    <div class="flex-container">
    <div class="flex-item">
      git & GitHub
    </div>
    <div class="flex-item">
      Amazon Web Services
    </div>
    <div class="flex-item">
      Docker
    </div>
    <div class="flex-item">
      Mocha
    </div>
    <div class="flex-item">
      Postman
    </div>
    <div class="flex-item">
      NGINX
    </div>
    <div class="flex-item">
      Heroku
    </div>
    <div class="flex-item">
      Firebase
    </div>
    <div class="flex-item">
      Slack
    </div>
    <div class="flex-item">
      Trello
    </div>
  </div>
  </div>
</div>
