.main {
  background-color: lightgrey;
  min-height: 100vh;
  height: 100%;
  width: 100%
}

.main-outlet {
  padding-right: 35px;
  padding-left: 30px;
}

@media (min-width: 1024px) {
  .main-outlet {
    right: 1%;
  }
}

@media (min-width: 1224px) {
  .main-outlet {
    right: 3%;
  }
}

@media (min-width: 1824px) {
  .main-outlet {
    right: 6%;
  }

}