.main-outlet {
  width: 100vw;
  position: relative;
  margin-top: 10px;
  /*padding-right: 30px;*/
  padding-left: 30px;
}

@media (min-width: 767px) {
  .main-outlet {
    padding-right: 30px;
  }
}

@media (min-width: 1024px) {
  .main-outlet {
    right: 1%;
  }
}

@media (min-width: 1224px) {
  .main-outlet {
    right: 3%;
  }
}

@media (min-width: 1824px) {
  .main-outlet {
    /*right: 6%;*/
  }

}