.super {
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: 15px 10px 15px 10px;
}

/*.outer {*/
  /*display: table;*/
  /*position: absolute;*/
  /*height: 100%;*/
/*}*/

/*.middle {*/
  /*display: table-cell;*/
  /*vertical-align: middle;*/
/*}*/

@media (max-width: 768px) {
  /*.outer {*/
    /*height: 80%;*/
  /*}*/
  .super {
    padding-top: 15px;
  }

}

@media (min-width: 1024px) {
  .super {
    right: .5%;
  }
}
@media (min-width: 1124px) {
  .super {
    right: 1%;
  }
}

@media (min-width: 1224px) {
  .super {
    right: 2.5%;
  }
}

@media (min-width: 1824px) {
  .super {
    right: 6%;
  }

}