
<div class="nav-side-menu">
  <div class="brand" ><a routerLink="/about">Kevin Oglesby</a></div>

    <div class="toggle-btn container" (click)="onAnimate()">
      <div class="hamburger {{isActive}}">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
      </div>
    </div>


  <div class="menu-list" id="navGrow" [@divState]="state">
    <ul id="menu-content" class="menu-content">
      <li>
        <a class="nav-link" routerLink="/about" routerLinkActive="active" (click)="onNavigateMain()">
          About
        </a>
      </li>
      <li>
        <a class="nav-link {{activeState}}" routerLink="/projects/{{id}}">
          Projects
        </a>
        <i class="{{arrow}} fa-lg" (click)="onGrowDiv()"
           style="float: right; vertical-align: middle;"></i>
      </li>
      <div id="grow">
        <div class="measuringWrapper">
          <ul class="sub-menu" *ngFor="let proj of projects; let i = index">
            <li routerLink="/projects/{{i}}" routerLinkActive="active"
                (click)="onNavigate(i)"><i class="fa fa-chevron-right cool"></i> {{proj.name}}</li>
          </ul>
        </div>
      </div>

      <li>
        <a class="nav-link" routerLink="/skills-tools" routerLinkActive="active" (click)="onNavigateMain()">
          Skills & Tools
        </a>
      </li>

    </ul>
  </div>
</div>


