
<div class="nav-side-menu">
  <div class="brand">Kevin Oglesby</div>
  <i class="fa fa-bars fa-2x toggle-btn" (click)="onAnimate()"></i>
  <div class="menu-list" id="navGrow" [@divState]="state">
    <ul id="menu-content" class="menu-content">
      <!--<li>-->
        <!--<a class="navbar-brand" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">-->
          <!--Kevin Oglesby-->
        <!--</a>-->
      <!--</li>-->
      <li>
        <a class="nav-link" routerLink="/about" routerLinkActive="active">
          About
        </a>
      </li>
      <li>
        <a (click)="onGrowDiv()" class="nav-link" routerLink="/projects"  routerLinkActive="active">Projects
          <span class="{{arrow}}"></span>
          <!--<span class="arrow"></span>-->
        </a>


      </li>
      <div id="grow">
        <div class="measuringWrapper">
          <ul>
            <li><a>Agile Team Project</a></li>
            <li><a>Quote Generator</a></li>
            <li><a>Online Marketplace</a></li>
          </ul>
        </div>
      </div>

      <li>
        <a class="nav-link" routerLink="/skills-tools" routerLinkActive="active">
          Skills and Tools
        </a>
      </li>
      <li>
        <a class="nav-link" routerLink="/contact" routerLinkActive="active">
          Contact
        </a>
      </li>

    </ul>
  </div>
</div>

<!--<div class="row">-->
  <!--<div class="green offset-2 col-lg-12">-->
    <!--<router-outlet></router-outlet>-->
  <!--</div>-->

<!--</div>-->


