
<div class="nav-side-menu">
  <div class="brand">Kevin Oglesby</div>

    <div class="toggle-btn container" (click)="onAnimate()">
      <div class="hamburger {{isActive}}">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
      </div>
    </div>


  <div class="menu-list" id="navGrow" [@divState]="state">
    <ul id="menu-content" class="menu-content">
      <li>
        <a class="nav-link" routerLink="/about" routerLinkActive="active" (click)="onNavigateMain()">
          About
        </a>
      </li>
      <li (click)="onGrowDiv()">
        <a class="nav-link {{activeState}}" (click)="onNavigate(id, 'fast')" >
          Projects
        </a>
        <i class="{{arrow}} fa-lg"
           style="float: right; vertical-align: middle;"></i>
      </li>
      <div id="grow">
        <div class="measuringWrapper">
          <ul class="sub-menu" *ngFor="let proj of projects; let i = index">
            <li class="{{subActive}}" id="{{i}}"
                (click)="onNavigate(i, 'slow')"><i class="fa fa-chevron-right cool"></i>{{proj.name}}</li>
          </ul>
        </div>
      </div>

      <li>
        <a class="nav-link" routerLink="/skills-tools" routerLinkActive="active" (click)="onNavigateMain()">
          Skills & Tools
        </a>
      </li>

    </ul>
  </div>
</div>


