.app-image {
  width: 100%;
  background-color: #2e353d;
  padding: 10px;
}

h3 {
  color: #d19b3d;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 4px;
}

p {
  width: 96%;
  background-color: #2e353d;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 9px;
  margin-left: 2%;
  margin-right: 2%;
}

.fa {
  padding: 7px;
  position: relative;
  cursor: pointer;
  top: 2px;
  /*margin-right: 26%;*/
  /*margin-left: 26%;*/
  /*-webkit-transition-duration: 0.4s; !* Safari *!*/
  /*transition-duration: 0.4s;*/
}

.fa-chevron-left {
  padding-right: 10px;
}

.fa-chevron-right {
  padding-left: 10px;
}

.fa:hover {
  color: #d19b3d;
}

.fa:hover {
  /*-webkit-text-stroke-width: 1px;*/
  /*-webkit-text-stroke-color: #d19b3d;*/
  /*-webkit-filter: drop-shadow(0px 0px 2px rgba(209,155,61,0.9));*/
}



.btn {
  position: relative;
  background-color: #181c20;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  margin: 3px 0;
  /*width: 160px;*/
  padding: 10px 10px 10px 35px;
  border-radius: 8px;
}

.deployed {
  padding-left: 10px;
}

.btn:focus {
  text-decoration: none;
  outline: none;
}

a:hover {
  text-decoration: none;
}

.btn img {
  max-height: 20px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.btn .top, .btn .bottom {
  position: absolute;
  top: 26.3%;
  left: 10px;
}

.btn:hover .top {
  opacity: 0;
}

.btn:hover {
  background-color: #020203;
  color: #d19b3d;
  text-decoration: none;
  outline: none;
}

.chev-left {
  position: absolute;
  left: 5.5%;
}
.chev-right {
  position: absolute;
  right: 5.5%;
}

.middle {
  margin: 0 auto;
  width: 500px;
  padding: 7px 53px 7px 53px;

  /*align-content: center;*/
}

@media only screen and (max-device-width: 480px) {
  .fa:hover {
    color: #e1ffff;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }
  .fa:active {
    color: #d19b3d;
  }
}



/*h {*/
  /*color: #d19b3d #23282e #4f5b69 #020203 #181c20;*/
/*}*/
/*h2 {*/
  /*color:  #e1ffff #2e353d;*/
/*}*/

