.app-image {
  width: 100%;
  /*max-width: 800px;*/
  background-color: lightgrey;
  padding: 10px;
  /*margin-right: 0px;*/
  /*margin-bottom: 0px;*/
  /*margin-top: 0px;*/
}

.description {
  width: 100%;
  background-color: lightgrey;
  /*padding: 8px;*/
  /*margin-top: 10px;*/
  margin-bottom: 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.fa {
  cursor: pointer;
}


/*.container {*/
  /*position: relative;*/
/*}*/

/*.container .arrow {*/
  /*position: absolute;*/
  /*top: 20%;*/
  /*cursor: pointer;*/
/*}*/
/*.button-links {*/
  /*position: relative;*/
  /*left: 25%;*/
  /*right: 25%;*/
  /*margin-bottom: 20px;*/
/*}*/

/*.app-change {*/
  /*position: absolute;*/
  /*!*top: 2px;*!*/
  /*!*left: -40px;*!*/
/*}*/
/*.app-change-left {*/
  /*position: relative;*/
  /*!*left: 25%;*!*/
/*}*/


/*.container .arrow.left { left: 0; }*/

/*.container .arrow.right { right: 0; }*/