.app-image {
  width: 100%;
  /*max-width: 800px;*/
  background-color: lightgrey;
  padding: 10px;
  /*margin-right: 0px;*/
  /*margin-bottom: 0px;*/
  /*margin-top: 0px;*/
}

.description {
  width: 100%;
  background-color: lightgrey;
  /*padding: 8px;*/
  /*margin-top: 10px;*/
  margin-bottom: 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.fa {
  cursor: pointer;
}

.btn {
  color: black;
  background-color: dimgray;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  margin-right: 0;
  margin-left: 0;
}
.btn:focus {
  text-decoration: none;
  outline: none;
}

a:hover {
  text-decoration: none;
}

.btn img {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.btn:hover {
  background-color: #00b3ee;
  color: white;
  text-decoration: none;
  outline: none;
}

.btn:hover img{
  filter: invert(1);
}


.source-link img {
  max-height: 20px;
  margin-right: 5px;
}


/*.container {*/
  /*position: relative;*/
/*}*/

/*.container .arrow {*/
  /*position: absolute;*/
  /*top: 20%;*/
  /*cursor: pointer;*/
/*}*/
/*.button-links {*/
  /*position: relative;*/
  /*left: 25%;*/
  /*right: 25%;*/
  /*margin-bottom: 20px;*/
/*}*/

/*.app-change {*/
  /*position: absolute;*/
  /*!*top: 2px;*!*/
  /*!*left: -40px;*!*/
/*}*/
/*.app-change-left {*/
  /*position: relative;*/
  /*!*left: 25%;*!*/
/*}*/


/*.container .arrow.left { left: 0; }*/

/*.container .arrow.right { right: 0; }*/